@import './mixins.scss';

.Board {

  &__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;    
  }

  &__action-list {
    display: flex;
    gap: 5px;
  }

  &__edit {
    &-form {
      width: 100%;
      display: flex;
      justify-content: space-between;
      gap: 5px;
    }

    &-container {
      display: flex;
      align-items: center;
      gap: 5px;
    }

    &-input {
      background: #00111188;
      border: 0;
      border-radius: $border-radius-primary;
      padding: .3rem .5rem;
      color: #dddddd;
      font-family: Roboto, sans-serif;
      font-size: 1.17em;
      font-weight: bold;

      &:focus {
        outline: none;
      }
    }

    &-error {
      font-weight: 700;
      color: red;
    }

  }

  &__lists {
    display: flex;
    justify-content: space-between;
  }
}