@import './mixins.scss';

.Board {

  &__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;    
  }

  &__action-list {
    display: flex;
    gap: 5px;
  }

  &__edit {
    &-form{
      display: flex;
      gap: 5px;
    }

    &-input {
      background: none;
      border: 0;
      color: #dddddd;
      font-family: Roboto, sans-serif;
      font-size: 1.17em;
      font-weight: bold;

      &:focus {
        outline: none;
      }
    }
  }

  &__lists {
    display: flex;
    justify-content: space-between;
  }
}