* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  background: url('../img/pexels-mohamed-almari-1485894.jpg') center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #dddddd;
}

.btn {
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  // font-weight: 700;
  // font-size: 1.1rem;
  // padding: .1rem .5rem;
  font-size: 1rem;
  padding: .5rem 1rem;
}

.btn--edit {
  background: #00000066;
  color: yellow;

  &:hover {
    background: #00000044;
  }
}

.btn--delete {
  background: #00000066;
  color: red;

  &:hover {
    background: #00000044;
  }
}

.btn--board {
  background: none;
  color: #dddddd;

  &:hover {
    background: #001111aa;
  }
}

.btn--new-item {
  background: none;
  color: limegreen;
  
  &:hover {
    background: #00000066;
  }
}

.btn--plus {
  padding: .1rem .4rem;
  font-size: 20px;
  border-radius: 50%;
}