@import './mixins.scss';

.List {
  width: 32%;

  &__heading {
    @include title-button;

    button {
      @include new-item-button;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
}