@import './mixins.scss';
@import './variables.scss';

.Navbar {
  background: #001111cc;
  padding: $window-padding;
  border-radius: $border-radius-primary 0 0 $border-radius-primary;
  width: 30%;

  &__heading {
    @include title-button;
  }

  &__list {
    display: flex;
    flex-direction: column;
    list-style: none; 
    gap: 2px;
  }
}