@import './mixins.scss';
@import './variables.scss';

.NewTask {
  @include flex-center;
  backdrop-filter: blur(3px);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 2%;
  border-radius: $border-radius-primary;

  &__form {
    @include flex-column;
    gap: 1rem;
  }

  &__input {
    &-container {
      @include flex-column;
    }

    &-title {
      text-shadow: 0 0 20px 20px #000000;
      font-size: 1.5rem;
    }

    &-field {
      background: #ffffffaa;
      border: 0;
      border-radius: $border-radius-primary;
      font-size: 1.2rem;
      padding: .5rem 1rem;
    }
  }

  &__btn {
    background: #ffffffaa;
    font-size: 1.2rem;

    &:nth-child(3) {
      margin-top: 2rem;
    }
  }
}