@import './mixins.scss';
@import './variables.scss';

.Task {
  padding: 1rem;
  // background: #ff000033;
  background: #00ff0033;
  // background: #0000ff33;
  // background: #ffff0033;
  // background: #00ffff33;
  // background: #ff00ff33;
  border-radius: 5px;

  &__heading {
    margin-bottom: $head-margin;
    h6 {
      font-size: 1rem;
    }
  }

  &__body {

    p {
      margin-bottom: $head-margin;
    }

    &__actions {
      display: flex;
      justify-content: flex-end;
      gap: 5px;

      button {
        @include action-buttons
      }

      .delete {
        color: red;
      }

      .edit {
        color: yellow;
      }
    }
  }
}
